@font-face {
  font-family: "open_sans_light";
  src: url("../fonts/opensans-light.svg#open_sans_light") format("svg"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sans_regular";
  src: url("../fonts/opensans-regular.svg#open_sans_regular") format("svg"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sans_light";
  src: url("../fonts/opensans-bold.svg#open_sans_bold") format("svg"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.svg?7520407#icons") format("svg"), url("../fonts/icons.woff?7520407") format("woff"), url("../fonts/icons.ttf?7520407") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../sass/style.scss */
html {
  font-size: 100%;
}

/* line 7, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  font: 1em/1 "open_sans_light", sans-serif;
  background-color: #eee;
}

/* line 14, ../sass/style.scss */
main {
  text-align: center;
}

/* line 18, ../sass/style.scss */
header {
  padding: .5em 0;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
}

/* line 25, ../sass/style.scss */
h1 {
  font-size: 3rem;
}

/* line 29, ../sass/style.scss */
h2 {
  font-size: 2rem;
}

/* line 33, ../sass/style.scss */
h3 {
  font-size: 1.5rem;
  font-weight: normal;
  display: inline-block;
  color: #d0ff00;
  background-color: #5a6063;
  margin: 1em 0;
  padding: .3em;
}

/* line 44, ../sass/style.scss */
h1,
h2 {
  color: rgba(204, 204, 204, 0.8);
  text-shadow: 2px 2px 3px #eee, 0 0 0 #000, 2px 2px 3px #eee;
  margin: .5rem auto;
}

/* line 51, ../sass/style.scss */
.social,
.contact-form {
  display: block;
  margin: 0 auto;
}

/* line 56, ../sass/style.scss */
.icon {
  font-size: 1.5rem;
  display: inline-block;
  color: #5a6063;
  text-decoration: none;
  padding: .3em;
}
/* line 62, ../sass/style.scss */
.icon:hover {
  color: #d0ff00;
  background-color: #5a6063;
}

/* line 68, ../sass/style.scss */
.social a:first-of-type {
  padding: .3em .4em .3em .2em;
}

/* line 72, ../sass/style.scss */
i {
  font-family: icons;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
}

/* line 84, ../sass/style.scss */
.icon-twitter:before {
  content: "\e801";
}

/* line 88, ../sass/style.scss */
.icon-github:before {
  content: "\e802";
}

/* line 92, ../sass/style.scss */
.icon-linkedin:before {
  content: "\e803";
}

/* line 96, ../sass/style.scss */
.icon-email:before {
  content: "\e804";
}

/* line 100, ../sass/style.scss */
.screen-reader-text {
  position: absolute;
  text-indent: -9999px;
}

/* line 105, ../sass/style.scss */
.typeform-widget {
  width: 500px;
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
}

/* line 113, ../sass/style.scss */
.typeform-widget.touchScreen {
  height: 160px;
}

@media screen and (max-width: 360px) {
  /* line 119, ../sass/style.scss */
  h1 {
    font-size: 2.8rem;
  }

  /* line 122, ../sass/style.scss */
  h2 {
    font-size: 1.8rem;
  }

  /* line 125, ../sass/style.scss */
  h3 {
    margin: 1em 0 0;
  }
}
