html {
    font-size: 62.5%;
    text-size-adjust: none;
}

body {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "kern" 1;
}

h1,
h2 {
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}